# global owners
* @jblindsay

# in the future, you can designate owners per repo, file type, and other options.
# read more about code owners here https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners